.header-parent{
	width: 100%;
	flex: 1.5;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 0px;
}

.header-details{
	display: flex;
	justify-content: center;
	align-items: center;
}

.header-month-year{
	display: flex;
	flex-direction: column;
}

.current-date{
	font-weight: bold;
	font-size:40px;
	color: var(--secondary-color);
}

.header-month-year{
	margin-left: 8px;
	font-size: 15px;
}

.current-month{
	font-weight: 600;
	color: var(--secondary-color);
}

.current-year{
	color:var(--muted-color);
	font-weight: 400;
}

.header-day{
	color: var(--muted-color);
	font-size: 16px;
	font-weight: 500;
	letter-spacing: .5px;
}