.header {
  flex: 1;
  background: var(--primary-color);
  padding: 0px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header a {
  text-decoration: none;
  color: white;
  font-size: 25px;
  margin: 0px 30px;
}
