/* Styles for app container */
.app-container {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #eee;
	flex-direction: column;
}

/* Styles for table */
.table {
	min-width: 300px;
	padding: 30px;
}
