/* styles for chat-users container */
.chat_users {
  flex: 4;
  border-right: 1px solid rgba(128, 128, 128, 0.301);
  overflow: scroll;
}

/* styles for chat-area container */
.chat_area {
  flex: 8;
}
