/* style for user list parent container */
.user-list-parent{
    flex: 11.5;
}

/* styles for pagination container div */
.pagination-keys{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* style for pagination buttons */
.pagination-keys button{
    padding: 10px;
    border-radius: 100%;
    height: 35px;
    width: 35px;
    font-size: 15px;
    line-height: 15px;
    margin: 0px 10px;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    color: var(--primary-color) ;
    background: var(--bg-app-color) ;
    border: 1px solid var(--primary-color) ;
}

/* styles for hover state of button */
.pagination-keys button:hover{
    background: var(--primary-color-light);
    color: var(--primary-color);
}

/* styles for currently active page*/
.active-page{
    border: none !important;
    background: var(--primary-color) !important;
    color: var(--bg-app-color) !important;
}