/* styles for main list container */
.todo-app-list{
	flex: 9;
	scrollbar-width: none;
	overflow: scroll;
	padding: 3px 15px;
}

/* style for each mapper todos */
.todo-display{
	background: var(--secondary-color);
	border-radius: 5px;
	padding: 9px;
	margin: 5px 0px;
	color: white;
	font-weight: bold;
}

/* style for empt msg display */
.empty-msg{
	color: var(--muted-color);
}