.app-container {
  height: 100vh;
  display: flex;
}

.links {
  flex: 3;
  display: flex;
  flex-direction: column;
  border-right: 1px solid rgba(182, 182, 182, 0.39);
  padding: 10px;
  overflow: scroll;
}

.components {
  flex: 9;
  padding: 20px;
  overflow: scroll;
}

.links a {
  margin: 5px;
}
