.animate-container {
  margin: 20px;
  background: rgb(121, 58, 204);
  border-radius: 5px;
  width: 90%;
  height: 50px;
}

.animate-container p {
  color: white;
  line-height: 50px;
  text-align: center;
}
