/* todo-app-header styles */
.todo-app-header{
	flex: 1.5;
	border-top-left-radius: .3rem;
	border-top-right-radius: .3rem;
	padding: 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

/* todo-header styles */
.todo-header{
	display: flex;
	align-items: center;
}

/* styles for div inside todo-app-header */
.todo-app-header div{
	color: var(--muted-color);
	display: flex;
	justify-content: space-between;
}

/* pending-task text style */
.pending-task {
	color: var(--primary-color);
}

/* styles for header-title */
.header-title{
	font-size: 25px;
	color: var(--secondary-color);
	letter-spacing: 1px;
	padding: 5px 0px;
}


