.profile-card{
    border-radius: 35px;
    height: 370px;
    min-width: 230px;
    position: relative;
    left: 50%;
    background: white;
    box-shadow: 10px 20px 35px var(--bg-shadow-color);
    transition: all 300ms ease-in-out;
}

