/* defining color variables */
:root{
	--bg-color: #F0EFE9;
	--todo-app-color:#FFFFFF;
	--primary-color:#52E4A6;
	--primary-color-dark:#42b684;
	--shadow-color:rgba(0,0,0,.2);
	--secondary-color:#3d3d3d;
	--muted-color:#464646e7;
	--todo-muted-color: gainsboro;
	--input-hover-color:#cccccc;
	--checkbox-indicator:#e6e6e6;
}

/* global styles */

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}


body{
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: sans-serif;
	background: var(--bg-color);
}