html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.chat-bubble {
  padding: 10px;
  margin: 10px 0px;
  border-radius: 5px;
  padding: 5px;
}

.me {
  background: rgb(82, 82, 243);
  color: white;
  float: left;
  clear: both;
}

.others {
  background: rgb(173, 173, 173);
  color: black;
  float: right;
  clear: both;
}
