.item-card {
  background: yellow;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  width: 200px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.item-quantity-btns {
  width: 50px;
}
