.list{
    padding: 12px 0px;
    display: flex;
}

.user-details{
    flex: 5;
    display: flex;
    align-items: center;
}

.user-info{
    flex: 7;
    display: flex;
}

.user-details-container{
    display: flex;
    align-items: flex-start;
    cursor: pointer;
}

.user-profile-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-profile-img img{
    height: 40px;
    width: 40px;
    border-radius: 100%;
}

.user-profile-data{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    justify-content: center;
}

.user-name{
    font-weight: bold;
    font-size: 16px;
}

.user-email{
    color: var(--user-email);
    font-size: 14px;
}

.user-status{
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
}

.user-status-select{
    height: 100%;
    width: 90px;
    background: var(--select-bg);
    border: none;
    border-radius: 5px;
    font-size: 15px;
    border: 1px solid var(--select-shadow);
}

.user-access{
    flex: 1;
    display: flex;
    align-items: center;
}

.user-access-auth{
    flex: 1;
    color: var(--icon-color);
    display: flex;
    align-items: center;
    cursor: pointer;
}

.first-user-status,.first-user-access{
    font-weight: bold;
}

.first-user-status{
    color: var(--secondary-color);
}