.product-card-container{
    display: flex;
    justify-content: space-around;
}

.product-card{
    cursor: pointer;
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 200px;
    justify-content: end;
    /* border: 1px solid gray; */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .3);
}

.product-description{
    display: flex;
    flex-direction: column;
    border-top: 1px solid rgb(82, 82, 82);
}

.product-title{
    font-size: 20px;
    font-weight: 500;  
}

.product-price{
    color: green;
}

.product-discount{
    color: gray;
}